

#mainWrapper {

    display: flex;
    flex-direction: column;
    
}


#userPanelWrapper {

    display: flex;
    flex-direction: row;   
    justify-content: center;

    margin-top: 30px;

}


#searchBox {

    background-color: black;
    color: white;

    width: 300px;
    height: 40px;

    border-width: thin;

    padding-left: 15px;

}


.mainVolumeDiv{

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 100px;

}


.listDivDisplay {

    display: block;
    margin-top: 40px;

}


.loaderDivDisplay{

    background-color:transparent;
	
    display:flex;
	flex-direction:row;
	justify-content:center;
	
    margin-top:10%;

}


#loader {
	 
 	 border: 0px solid transparent;
	 border-radius: 50%;
	 border-top: 16px solid red;
	 
     width: 420px;
	 height: 420px;
	 
     animation: spin 0.8s linear infinite;	
}


#searchNameDiv{

    text-align: center;
    color: blue;
    font-size: 18px;

    margin-top: 80px;

}


.noneClass{

    display: none;

}


@keyframes spin {
  100% { transform: rotate(360deg); }
}