

#mainWrapper {

    display: flex;
    flex-direction: column;
    
}


#userPanelWrapper {

    display: flex;
    flex-direction: row;   
    justify-content: center;

    margin-top: 30px;

}


#searchBox {

    background-color: black;
    color: white;

    width: 300px;
    height: 40px;

    border-width: thin;

    padding-left: 15px;

}

#volumesListDiv{

    margin-top: 40px;

}
