
::-webkit-scrollbar {
    
    background-color: transparent;

    height:0px;
    width: 5px;

}
 

::-webkit-scrollbar-thumb {
   
    background-color: gray;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.containerVisible {

    background-color: transparent;

    position: relative;
 
    width: 1000px;
    height: 400px;

    margin-left: 10px;

    z-index: 0;
    
    overflow: hidden;

}


.containerInvisible{

   display: none;
}


#mainWrapper {

    background-color: transparent;

    position: absolute;

    display: flex;

    height: 100%;
    width: 100%;

    z-index: 0;

    overflow: hidden;

    animation: slideDown 1s ease;
 
}


@keyframes slideDown
{
  0% {top: -450px;}
  100% {top: 0px;}
}


@keyframes slideUp
{
  0% {top: 0px;}
  100% {top: -400px;}
}


@keyframes xxxslideDown
{
  0% {top: -400px;}
  100% {top: 0px;}
}


#contentWrapper {

    display: flex;
    flex-direction: column;
    flex-basis: 30%;

}


#galleryWrapper {

    display: flex;
    flex-direction: row;
    flex-basis: 70%;

    padding: 10px;

}


#fadeDiv{

   position:absolute;
    
   height: 380px;
   width: 350px;
    
   background: 
      -webkit-linear-gradient(right, 
        rgba(0,0,0,0.65) 0%, 
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 90%
      );

      z-index: 80;

}


#headerDiv {

   display: flex;
   flex-direction: row;
   flex-basis: 10%;

   color: white;
   font-weight: 700;
   font-size: 25px;

   overflow: hidden;

}


#contentDiv {

   display: flex;
   flex-basis: 80%;

}


.textWrapper{

    position: absolute;
    
    display: flex;
    flex-direction: column;
    
    width: 480px;
    height: 340px;

    color: #999;
    font-weight: 400;
    font-size: 17px;

    overflow: scroll;

    padding-right: 10px;

    z-index: 100;

}


.titleDiv{

    font-size: 25px;
    font-weight: 800;
    color: white;

    margin-bottom: 10px;
}


#toolsDiv {

    display: flex;
    flex-direction: row;
    flex-basis: 5%;

    margin-top: 10px;

}


#galleryComponent {

    width: 100%;
    height: 100%;

}


#infoComponent{

    width: 100%;
    height: 100%;

}


.buttonDiv{

    margin-top: 3px;
    margin-right: 20px;

}



.buttonElement {

   background-color: transparent;

   width: 30px;
   height: 20px;

   background-size: 100% 100%;
   background-repeat: no-repeat;

   outline: none;

   border-style: none;

}


.noneClass {

    display: none;

}


@keyframes fadeIn {
   
   0% {opacity: 0;}
   100% {opacity: 1;}

} 






