
#mainWrapper{

    display: flex;
    flex-direction: column;

}


#linksWrapper{

    display: flex;
    flex-direction: column;

}


.linkDiv{

    display: -webkit-box;

    cursor: pointer;

    width: 500px;
    height: 30px;

    margin-top: 5px;

    color: white;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  
    overflow: hidden;

}


.linkDiv:hover{

    color: #e50914;

}



.linksWrapper{

    margin-bottom: 20px;

}


#linksHeaderDiv{

    font-size: 25px;
    font-weight: 800;
    color: white;

    margin-bottom: 15px;

}


.infoPanel{

    color: white;
}


.mainTextHeader{

color: blue;

}


.mathbox {
    color: dodgerblue;
}


.noneClass{
    
    display: none;

}


#descDiv{

    color: white;

    width: 650px;
    
    margin-bottom: 30px;
    margin-top: 30px;

}


.H2{

    color: white;
    cursor: pointer;

}


.H3{

    margin-left: 30px;
    
}


.H4{

    margin-left: 70px;

}


.H5{

  margin-left: 110px;

}