
#mainWrapper {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-bottom: 150px;
}


#listWrapper {

    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

  

}


.rowDiv{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 1600px;

}


#rowVolumesDiv{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    z-index: 0;

    margin-bottom: 100px;

}


#rowVolumesDiv:hover{

    z-index: 10;

}


#contentViewDiv{

     z-index: 0;

}


.loaderDivDisplay{

    background-color:transparent;
	
    display:flex;
	flex-direction:row;
	justify-content:center;
	
    margin-top: -150px;
    margin-bottom: 100px;

}


#loader {
	 
 	 border: 0px solid transparent;
	 border-radius: 50%;
	 border-top: 2px solid red;
	 
     width: 60px;
	 height: 60px;

     margin-top: 14%;
     margin-bottom: 25px;
	 
     animation: spin 0.8s linear infinite;	
}


.showMorDiv {

    color: #e50914;

    font-size: 14px;

    text-align: center;

    cursor: pointer;

}



.noneClass{

    display: none;

}