
::-webkit-scrollbar {
    
    height:0px;
    width: 0px;
}


#mainWrapper {

    background-color: transparent;

    display: flex;
    flex-direction: row;
    
    margin: 10px;
    
    width: 297.156px;
    height: 164.875px;

    border-style: none;
    
    transition: 1s;
}


#mainWrapper:hover{

    width: 397.156px;
    height: 264.875px;
    
}


.galleryComponent {

    width: 100%;
    height: 100%;

}


.galleryComponent:hover {

   

}


.introductionDivVisible {

    position: absolute;

    display: flex;
    flex-direction: column;

    width: 397.156px;
    height: 264.875px;

    padding-top: 150px;
    padding-left: 10px;

    background: rgba(0, 0, 0, 0.5);

    animation: fadeIn 1s linear;

}


.introductionDivInvisible {

    display: none;

}


#titleDiv {

   width: 280px;

   color: white;
   font-weight: 900;

   overflow: hidden;

}


#descDiv {

   width: 280px;
   height: 40px;

   font-weight: 600; 
   color: white;

   margin-top: 10px;

   overflow: scroll;

}


#buttonDiv{

    margin-top: 10px;
    margin-left: 38%;
}


#openInfoBox{

   background-color: transparent;

   width: 70px;
   height: 30px;

   background-size: 100% 100%;
   background-repeat: no-repeat;

    outline: none;

    border-style: none;

}


@keyframes fadeIn {
   
   0% {opacity: 0;}
   100% {opacity: 1;}

} 