
#mainWrapper {

    display: flex;
    flex-direction: row;
    justify-content: center;

}


#listWrapper {

    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 30px;

}


#rowDiv{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}