

<div id = 'mainWrapper' >
    
      <div id = 'panelWrapper' >

        <div id = 'userPanelDiv' >

            <div id = 'logoDiv' >     </div>
            
            <div id = 'searchBoxDiv'> 
                
                <div id = 'searchIconDiv' >   <img  id = 'imgElement'   [src] = 'notifications.searchIcon'  />       </div>
                <div id = 'inputDiv' >  <input  id = 'searchBox'  placeholder = 'Search for anything...'  (keyup) = 'abortHttpRequest()'   [formControl] = 'keyword' > </div> 
            
            </div>
            
        </div>

     </div>

     <div id = 'bodyWrapper' >  

         <div id = 'subBody' >  

            <div class = 'mainVolumeDiv' [ngClass] = "{'spacer': !contentViewRef.forceOpen}" >      

                    <content-view   [setVolumeEntry] = 'primeryVolume'    [rowReference] = '-1'   #contentViewRef  >   </content-view>

            </div>

            <div  class = 'listDivDisplay'  [ngClass] = "{'noneClass': loadingTime}"  >

                <volumes-list  [columns] = '4'   [setVolumesList] = 'volumes'    #listRef     (dataRequestEvent) = 'processDataRequest($event)'  >   </volumes-list>

            </div>

            <div  [ngClass] = "{'noneClass': !loadingTime}" >
            
                <div class = 'loaderDivDisplay' >    

                    <div id = 'loader' >    </div>

                </div>

                <!--div id = 'searchNameDiv' >  Searching for {{ searchName }}... </div-->

            </div>

        </div>

    </div>

</div>


















<!--div id = 'searchButtonDiv' > <button id = 'searchButton'  [ngStyle] = "{'background-image': 'url(' + notifications.searchIcoUrl + ')'}"   >    </button>   </div-->