
<div  class = 'mainWrapperVisible' [ngClass] = 'getStyle()' (click)  = 'print()' >  

    <div id = 'contentWrapper' >

        <div id = 'headerDiv'  >

            {{ volumeEntry.title }}

        </div>

        <div id = 'contentDiv'  > 

            <div id = 'textWrapper'  #wrapperRef  >

                <div id = 'linksWrapper' > 
                   
                    <div id = 'linksHeaderDiv' > Links:   </div>

                    <div  id = "{{ 'link' + '#' + i }}"    class = 'linkDiv'   (click) = 'navigateToParagLocation(linkRef.id, wrapperRef)'  #linkRef   *ngFor = 'let i = index; let title of titles' >

                        <div> {{ title }} </div>
                   
                    </div>

                </div>


                <div id = 'paragDiv'  *ngFor = 'let i = index; let title of titles' > 

                    <div  id = "{{ 'title' + '#' + i }}"    class = 'titleDiv'   > {{title}} </div>
                    <div id = 'textDiv' >  {{ paragraphs[i] }} </div>

                </div>

            </div>

        </div>

        <div id = 'toolsDiv'  > 

            <div class = 'buttonDiv' >  <button  class = 'buttonElement'  (click) = 'sendCloseContentBoxEvent()'   [ngStyle] = "{'background-image': 'url(' + notifications.closeInfoBoxIcoUrl + ')'}" > </button>    </div>
            <div class = 'buttonDiv' >  <button  class = 'buttonElement'  (click) = 'openSubjectOnWikiOrg()'       [ngStyle] = "{'background-image': 'url(' + notifications.openWabIcoUrl + ')'}" >      </button>    </div>

        </div>

    </div>

    <div id = 'galleryWrapper'  > 

        <div id = 'fadeDiv'> </div>
        <gallery-view  id = 'galleryComponent'    [setGallery] = 'volumeEntry.images'   #galleryViewRef > </gallery-view>

    </div>


</div>