

<div id = 'mainWrapper'  >


    <div id = 'linksWrapper'  >

         <div id = 'linksHeaderDiv' > Links:   </div>

             <div  id = "{{ 'link' + '#' + i }}"    class = 'linkDiv'   (click) = 'navigateToParagLocation(linkRef.id)'    #linkRef     *ngFor = 'let i = index; let header of headers' >

                    <div  [ngClass] = 'getStyle(header.type)'  > {{ header.title }} </div>
                   
            </div>

    </div>

    <div  id = "{{ 'infoPanel' + '#' + rowId }}"  #wrapperRef >   </div>


</div>