
<div id = 'mainWrapper'  >

    <div class = 'linksWrapper'  [ngClass] = "{'noneClass': !manuIsOpen}"  >

            <div id = 'descDiv' >

                {{desc}}

            </div>

            <div  class = 'H2'  (click) = 'linkClicked(-1)' >  General  </div>

             <div  id = "{{ 'link' + '#' + i }}"    class = 'linkDiv'   (click) = 'linkClicked(linkRef.id)'    #linkRef     *ngFor = 'let i = index; let header of headers' >

                    <div  [ngClass] = 'getStyle(header.type)'  > {{ header.title }} </div>
                   
            </div>

    </div>

    <div  id = "{{ 'infoPanel' + '#' + rowId }}"  class = 'infoPanel'   [ngClass] = "{'noneClass': manuIsOpen}"  #wrapperRef >   </div>


</div>




<!-- [ngClass] = "{'noneClass': manuIsOpen}" -->