
<div id = 'mainWrapper'  (window:scroll) = "onScroll($event)" >

    <div id = 'listWrapper' >

        <div  class = 'rowDiv'  [attr.id] = 'i'  *ngFor = 'let i = index; let volumesRow of volumesList'  #rowRef   [style.height] = "200 + 'px'"  >

            <div id = 'rowVolumesDiv'>
            
                <div id = 'volumeDiv'  *ngFor = 'let volume of volumesRow' >

                    <volume-entry  [setVolumeEntry] = 'volume'    [rowReference] = 'rowRef'    [selectedRow] = 'openRowId'    (hoverRequestEvent) = 'hoverEntry($event)'     (openContentBoxEvent) = 'getVolumeById($event)'  >  </volume-entry>
                
                </div>

            </div>
    
            <div  id = 'contentViewDiv' >
                
                   <content-view   [setVolumeEntry] = 'volumeToShow'    [rowReference] = 'rowRef'    [selectedRow] = 'openRowId'   (closeContentBoxEvent) = 'closeContentBox()' >     </content-view>

            </div>
             

        </div>

        <div class = 'loaderDivDisplay' [ngClass] = "{'noneClass': !loadingTime}"  >   <div id = 'loader' >  </div>    </div>
        
        <div  class = 'showMorDiv'  [ngClass] = "{'noneClass': !isVisible}"    (click) = 'loadMor()'  > Show more...   </div>  

    </div>





</div>



<!-- 

[style.top] = 'location.Y + "px"'  [style.left] = 'location.X + "px"'

<div [ngClass] = 'getContentCompDivStyle()'   id = 'i'  (click) = 'print(i)'  >   
        
                     <content-view  [setVolumeEntry] = 'volumeToShow' >      </content-view>

            </div>   

         -->