
<div class = 'mainWrapperUnHover' [ngClass] = 'getMainWrapperStyle()'  (mouseenter) = 'onMouseEnter()'  (mouseleave) = 'onMouseLeave()'  (click) = 'sendOpenContentBoxEvent()' >

        <gallery-view  class = 'galleryComponent'    [setGallery] = 'volumeEntry.images'   #galleryViewRef > </gallery-view>

        <div id = 'titleDiv'>  {{volumeEntry.title}}  </div>

        <div  [ngClass] = 'getIntroductionDivStyle()' >

            <div id = 'descDiv' >  {{volumeEntry.description}}        </div>

            <div id = 'buttonDiv' >  <button id = 'openInfoBox'   (click) = 'sendOpenContentBoxEvent()'     [ngStyle] = "{'background-image': 'url(' + notifications.openInfoBoxIcon + ')'}"  >   </button>     </div>

        </div>


</div>





<!--    

-->