
<div id = 'mainWrapper'  (window:scroll) = "onScroll($event)" >

    <div id = 'listWrapper' >

        <div  class = 'rowDiv'  [attr.id] = 'i'  *ngFor = 'let i = index; let volumesRow of volumesList'  #rowRef   (click) = 'navigateToRowLocation(rowRef)'   [style.height] = "200 + 'px'"  >

            <div id = 'rowVolumesDiv'>
            
                <div id = 'volumeDiv'  *ngFor = 'let volume of volumesRow' >

                    <volume-entry  [setVolumeEntry] = 'volume'    [rowReference] = 'rowRef'    [selectedRow] = 'openRowId'    (hoverRequestEvent) = 'hoverEntry($event)'     (openContentBoxEvent) = 'getVolumeById($event)'  >  </volume-entry>
                
                </div>

            </div>
    
            <div  id = 'contentViewDiv' >
                
                   <content-view   [setVolumeEntry] = 'volumeToShow'    [rowReference] = 'rowRef'    [selectedRow] = 'openRowId'   (closeContentBoxEvent) = 'closeContentBox()' >     </content-view>

            </div>
             

        </div>

        <div class = 'loaderDivDisplay' [ngClass] = "{'noneClass': !loadingTime}"  >       
        
            <div   id = 'loader' >  </div>
    
        </div>
        
        <div  class = 'showMorDiv'  [ngClass] = "{'noneClass': !isVisible}"   (click) = 'loadMor()'    > <img   src = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABcElEQVRoQ+2WQU7DMBBFx1UlatgUml1zB9obwEmAG+QmcAQ4Cdyg4Q4pq1R0A+6iklEAS02bRCNLHkfRz3q                    +Z/5/dmxFA/nUQHwQjPSNJIiASKAEsLUCBeu9LIh4RxdICCKBgvVeFkS8owskBJFAwXovCyLe0QUSthIpJrM7pVRGRIv/3rm19indbV44s0jrT4x80nT6rcevBwaO587Pzf72krbbJkOx9CdG1jpZdZhws+dzUy6bjMTS14x8nF1ldjR65Gwda+1Duts8H9bG1NeMMNNspRJTf2zEcmi4mrkpe6PvzSBVOGudeAdZM1LoJFdE1xwqlug9NaX7Nf9KYuqHedi5qTbRcBQ5VELoGy/ELz1    +a9ti1RAXZn/TdSHG0Hc9Ue5JqcwZqgzQ3xOldne0nadiMhPV4/XL+bNJ1oCIZNqcXiDCSUmyBkQk0+b0AhFOSpI1ICKZNqcXiHBSkqwBEcm0Ob1AhJOSZM1giPwAsF75M32vrDkAAAAASUVORK5CYII="  width = "15"  height = "15">   </div>  

    </div>





</div>



<!-- 

[style.top] = 'location.Y + "px"'  [style.left] = 'location.X + "px"'
(click) = 'loadMor()'
<div [ngClass] = 'getContentCompDivStyle()'   id = 'i'  (click) = 'print(i)'  >   
        
                     <content-view  [setVolumeEntry] = 'volumeToShow' >      </content-view>

            </div>   

         -->