
<div class = 'mainWrapper'  (mouseenter) = 'onMouseEnter()'  (mouseleave) = 'onMouseLeave()' >

    <gallery-view  [ngClass] = 'getGalleryCompStyle()'    [setGallery] = 'volumeEntry.images'  #galleryViewRef > </gallery-view>

    <div  [ngClass] = 'getIntroductionDivStyle()' >

        <div id = 'titleDiv'>  {{volumeEntry.title}}              </div>
        <div id = 'descDiv' >  {{volumeEntry.description}}        </div>

        <div id = 'buttonDiv' >  <button id = 'openInfoBox'  [ngStyle] = "{'background-image': 'url(' + notifications.openInfoBoxIcoUrl + ')'}"  >   </button>     </div>

    </div>

</div>





<!--   [style.width] = "100 + '%'"   [style.height] = "100 + '%'"  

mouseenter || mouseleave 

<div id = 'titDiv'>  {{volumeEntry.title}}  </div>


-->